# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# 虚拟环境
venv/
env/
ENV/

# 大文件（不提交）
models/**
!models/.gitkeep
vector_store/**
!vector_store/.gitkeep
data/**
!data/.gitkeep
sentence-transformers/**
!sentence-transformers/.gitkeep
BAAI/**
!BAAI/.gitkeep


# 环境变量
.env

# 日志
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db
