# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

#virtual enviroment
venv/
env/
ENV/

# big files
models/**
!models/.gitkeep
vector_store/**
!vector_store/.gitkeep
data/**
!data/.gitkeep
sentence-transformers/**
!sentence-transformers/.gitkeep
BAAI/**
!BAAI/.gitkeep


# enviroment variables
.env

# logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# system files
.DS_Store
Thumbs.db
